EDP Project/Connected Services/ServiceReference1/MyDBService.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyDBService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyDBService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAttractions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attractions" nillable="true" type="tns:Attractions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttractions" nillable="true" type="tns:ArrayOfAttractions" />
  <xs:complexType name="Attractions">
    <xs:sequence>
      <xs:element minOccurs="0" name="_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_unitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attractions" nillable="true" type="tns:Attractions" />
</xs:schema>